/**/
body {
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
    font-family: "Montserrat";
    color: white;
    width: 95vw;
    height: 95vh;
}
div.table {
    display: flex;
    justify-content: center;
    align-content: center;

}
li {
    list-style: none;
}
label {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    text-shadow: 1px 1px 1px #000;
}
input {
    margin:10px;
    width: 20rem;
    height: 3rem;
    border-radius: 2px;
    border: none;
    font-size: 30px;
  

}
button {
    width: 20.2rem;
    height: 3rem;
    margin-left: 10px;
    background-color: tomato;
    color: white;
    border: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
}
button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
form {
    margin: 10rem;
    
}